<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076513466007-fbljqvllgp5armdm8ogg51sn03qci40s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076513466007-fbljqvllgp5armdm8ogg51sn03qci40s</string>
	<key>API_KEY</key>
	<string>AIzaSyCwzmZfkQZrUKbSTDsT6mQT2L5J2LadaK4</string>
	<key>GCM_SENDER_ID</key>
	<string>1076513466007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HG.MessApp</string>
	<key>PROJECT_ID</key>
	<string>messapp-74dfe</string>
	<key>STORAGE_BUCKET</key>
	<string>messapp-74dfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076513466007:ios:95aa523d0f8b8487cd2bd2</string>
</dict>
</plist>